<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.miempresa.miempresa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaEmpleadosActivity"
            android:label="@string/lista_empleados_title" />
        <activity
            android:name=".ListaServiciosActivity"
            android:label="@string/lista_servicios_title" />
        <activity
            android:name=".DetalleEmpleadoActivity"
            android:label="@string/detalle_empleado_title" />
        <activity
            android:name=".DetalleServicioActivity"
            android:label="@string/detalle_servicio_title" />
        <activity
            android:name=".AccesoMantenedoresActivity"
            android:label="@string/acceso_mantenedores_title" />
        <activity android:name=".MantenedorEmpleadosActivity"
            android:label="@string/mantenedor_empleados_title"></activity>
    </application>

</manifest>